* {
  margin-top: 0%;
}
.header {
  background-color: rgba(28, 26, 26, 1);
  width: 100vw;
  height: 70px;
  top: 0;
  z-index: 5;
  position: fixed;
}
.header ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}
.header ul li {
  position: relative;
}
.header ul li img {
  height:60px;
  width: auto;
}
a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: x-large;
}
#link {
  margin-top: 3vh;
}
.jaitraLogo{
  width:auto;
  position: relative;
  height:70px !important;
}
@media (max-width: 1400px) and (min-width: 1300px) {
  .header {
    background-color: #1c1a1a;
    width: 100vw;
    height: 60px;
  }
  a{
      font-size: larger;
  }
  .header ul li {
    margin-left: 9vw;
    position: relative;
  }
  #link {
    margin-top: 3vh;
  }
}

@media screen and (max-width:400px) and (min-width:300px){
  .header{
    width:100vw;
    height:40px;
    padding: 10px 20px;
  }
  a{
    margin-right:20px;
    font-size:medium;
  }
  .swayambhuLogo{
    display:none;
  }
  .jaitraLogo{
    height:50px !important;
  }
  .navIcon{
    position:absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size:20px;
    right:60px;
  }
}

