<link href='https://fonts.googleapis.com/css?family=Parisienne' rel='stylesheet'>
<div class="header">
    <ul>
        <li style="margin-left:0vw;"><img src="assets/Tilak no back.png" alt="logo"></li>
        <li id="link" style="font-family:Parisienne;"><a href="#">Contact Us</a></li>
        <li><img src="assets/Layer 2.png" alt="grow"></li>
        <li id="link" style="font-family:Parisienne;"><a href="#">Visit Swayambhu</a></li>
        <li style="padding-right:4vw;"><img src="assets/Tilak no back.png" alt="logo"></li>
    </ul>
</div> 