<body>
    <app-header></app-header>
    <h2>Contact Us</h2>
    <div id="content-wrapper">
        <div id="contact-details">
            <div>
                <h3>Email Address</h3>
                <p><a href="mailto:swayambhu2121@gmail.com" target="_blank">swayambhu2121@gmail.com</a></p>
            </div>
            <div>
                <h3>Contact Number</h3>
                <p>+91 96210 62111</p>
            </div>
            <div>
                <h3>Location</h3>
                <address>Prayagraj, Uttar Pradesh, India</address>
            </div>
        </div>
        <div id="form-wrapper">
            <h3>Send us a Message</h3>
            <form action="post">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="text" name="subject" placeholder="Subject" required>
                <textarea name="message" placeholder="Message" required></textarea>
                <button type="submit">Send Message</button>
            </form>
        </div>
    </div>
    <app-footer></app-footer>
</body>