<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <app-header></app-header>
            <div class="container">
            <section class="child body1">
            <div class="content-left">
                <h1 style="color: white">SAKHA<hr></h1>
                <P style="color: white" >An initiative from a group of young entrapreneurs to control the chaos of covid and help everyone in need to take care of their<span style="font-weight:900"> . . .</span><br><span style="font: Poppins; color: rgb(255, 174, 0); font-size:xx-large;"><br> <span style="color: rgb(243, 115, 10)">FRIENDS</span> & <span>FAMILY</span></span></P>
                <div class="button">
                <a href="https://www.apple.com/"><div class="module-border-wrap" style="background: linear-gradient(to right, rgb(248, 120, 60),rgb(88, 238, 120));"><div class="module">
                   Vaccination Notifier
                    </div></div></a>
                <a href="https://www.apple.com/"><div class="module-border-wrap" style="background: linear-gradient(to right, rgb(88, 238, 120), rgba(0, 240, 255, 1));"><div class="module">
                        Request for oxygen
                    </div></div></a>
                    <a href="https://www.apple.com/"><div class="module-border-wrap" style="background: linear-gradient(to right,  rgb(0, 163, 255),rgb(219, 75, 255));"><div class="module">
                        Seek Consultancy
                     </div></div></a>
            
                        <a href="https://www.apple.com/"><div class="module-border-wrap" style="background: linear-gradient(to right, rgb(219, 75, 255), rgb(199, 61, 36));"><div class="module">
                            Register an Emergency
                    </div></div></a>
                    <a href="https://www.apple.com/"><div class="module-border-wrap" style="background: linear-gradient(to right, rgb(199, 109, 36), rgb(36, 185, 190));"><div class="module">
                        Register
                    </div></div></a>
                <a href="https://www.apple.com/"><div class="module-border-wrap" style="background: linear-gradient(to right, rgb(10, 110, 240), rgb(248, 120, 60));"><div class="module">
                            Request for Medicine
                        </div></div></a>
                
                </div>
            </div>

            <div class="right-content">
                <img class="img1" src="assets\Group 14.png">
              
            </div>

        </section>
        <section class="child body2">
            
        </section>
            </div>

        <app-footer></app-footer>
    </body>
</html>

