<!DOCTYPE html>
<html>

<body uk-scrollspy="cls: uk-animation-fade; delay: 800; repeat: true">

<div class="bgimg">
  <app-header></app-header>
  <div class="middle">
    <h1 uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200; repeat: false">COMING SOON</h1>
    <hr>
    <p uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200; repeat: false" id="demo" style="font-size:30px"></p>
    <a href="." name="home"><button uk-scrollspy="cls: uk-animation-slide-bottom; delay: 1200; repeat: false">Home</button></a>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
